.box_animate {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 200px;
    transform-style: preserve-3d;
    animation-name: box;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.move {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: gray;
    transform-style: preserve-3d;

}

.move::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
    background: red;
}

.back::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
    background: blue;
}


.front {
    background: red;
    transform: translateZ(50px);
    animation-name: move-f;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.back {
    background: blue;
    transform: translateZ(-50px) rotateY(180deg);
    animation-name: move-b;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes box {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes move-f {
    from {
        transform: rotateZ(0) translateZ(50px);
    }
    to {
        transform: rotateZ(360deg) translateZ(50px)
    }

}

@keyframes move-b {
    from {
        transform: rotateZ(0) translateZ(-50px);
    }
    to {
        transform: rotateZ(-360deg) translateZ(-50px)
    }

}